{% extends "blog/base.html" %}

{% block title %}Share a post{% endblock %} 

{% block content %}
    share post
    {% if sent %}
       <h1>Email Sent successfully</h1>
       <p>
        "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
      </p>
    {% else %}
       <h1>Share "{{ post.title }}" by e-mail</h1>

       <form method="post">
          {{form.as_p}}  <!-- with each form field wrapped in <p> tags.-->
          {% csrf_token %}
          <input type="submit" value="Send Email">
       </form>
    {% endif %}
{% endblock content %}
